[package]
name = "valor"
edition.workspace = true

[dependencies]
tokio.workspace = true
winit.workspace = true

url.workspace = true

log.workspace = true
env_logger.workspace = true
anyhow.workspace = true

page_handler.workspace = true
wgpu_renderer.workspace = true

[dev-dependencies]
html.workspace = true
layouter.workspace = true
headless_chrome.workspace = true
serde.workspace = true
serde_json.workspace = true
urlencoding.workspace = true
once_cell.workspace = true

[features]